  nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    border-bottom: 3px solid black;
  }
  
  nav a {
    text-decoration: none;
    color: #4A4A4A;
    font-family: 'Arial', sans-serif;
    transition: color 0.3s ease-in-out;
    padding: 10px 20px;
    border-radius: 5px;
  }
  
  nav a h1 {
    margin: 0;
    font-size: 1.5rem;
  }
  
  nav a:hover {
    color: #1BA098;
  }
  
  .active-link {
    color: #1BA098 !important;
  }

  a {
    cursor: pointer;
  }
  
  