<form #companyForm="ngForm" (ngSubmit)="onSubmit(companyForm)">
  <div class="company-page">
    <h1>Select Company</h1>
      
    <select name="company" id="company" [(ngModel)]="selectedCompany" required #company="ngModel">
      <option [ngValue]="null" disabled>Pick an option</option>
      <option *ngFor="let company of companies" [ngValue]="company">
        {{ company.name }}
      </option>
    </select>
    
    <div *ngIf="company.invalid && company.touched" class="error-message">
      Please select a company.
    </div>

    <button [disabled]="companyForm.invalid" class="disabled">Submit</button>
  </div>
</form>
  
